.title {
  position: relative;
  display: inline-block;
  top: -60px;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  display: block;
}

.text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 50px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   font-size: smaller;
   font-weight: 300;
   text-align: justify;
}
