<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">pelisApp</h1>
    <p class="lead">Aplicación Angular que conecta con themoviedb.org para mostrar películas.</p>
  </div>
</div>

<div class="container">

  <h2>Películas en cartelera</h2>
  <hr>

  <div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let pelicula of peliculasCartelera | slice:0:6">

      <a [routerLink]="[ '/buscar', pelicula.id ]">
        <img class="card-img-top" [src]="_ps.urlImages + pelicula?.backdrop_path" [alt]="pelicula.title">
      </a>
      <div class="card-body">
        <h5 class="card-title title">{{ pelicula.title }}</h5>
        <h6 class="card-text text">{{ pelicula.overview }}</h6>
      </div>

    </div>
  </div>

  <hr>
  <h2>Películas Populares</h2>
  <hr>

  <div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let pelicula of peliculasPopulares | slice:0:6">

      <a [routerLink]="[ '/buscar', pelicula.id ]">
        <img class="card-img-top" [src]="_ps.urlImages + pelicula?.backdrop_path" [alt]="pelicula.title">
      </a>
      <div class="card-body">
        <h5 class="card-title title">{{ pelicula.title }}</h5>
        <h6 class="card-text text">{{ pelicula.overview }}</h6>
      </div>
    </div>
  </div>

  <hr>
  <h2>Películas populares entre los más pequeños</h2>
  <hr>

  <div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let pelicula of peliculasPopularesInfantiles | slice:0:6">

      <a [routerLink]="[ '/buscar', pelicula.id ]">
      <img class="card-img-top" [src]="_ps.urlImages + pelicula?.backdrop_path" [alt]="pelicula.title">
      </a>
      <div class="card-body">
        <h5 class="card-title title">{{ pelicula.title }}</h5>
        <h6 class="card-text text">{{ pelicula.overview }}</h6>
      </div>
    </div>
  </div>
